.text-container {
    text-align: center;
  }
  
.text-container p{
  font-size: 1rem;
  color: #dfe6e9;
}
  
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
input[type="text"] {
  padding: 10px 15px;
  color:#273755;
  height: 50px;
  width: 300px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  z-index: 9;
}

input[type="text"]:focus {
  outline: none;
}

.btn-detect{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 50px;
  font-size: 14px;
  padding: 10px 15px;
  text-transform: uppercase;
  background-color: #8aabca;
  border: none;
  color: #273755;
  overflow: hidden;
  outline: none;

}

.btn-detect:before{
  position: absolute;
  content: ""; 
  top: 0px;
  height: 100%;
  left: -25%;
  width: 0%;
  background-color: #273755;
  transform: skew(50deg);
  transition-duration: 1s;
  z-index: 1;
}

.btn-detect:hover{
  color: #fafcff;
  cursor: pointer;
}

.btn-detect:hover:before{
  width: 170%;
}


.btn-detect span{
  position: relative;
  z-index: 9;
}

@media screen and (min-width: 576px) {
  .text-container p {
    font-size: 1.5rem;
  }

}
@media screen and (min-width: 992px) {
  .text-container p {
    font-size: 1.6rem;
  }

}

@media screen and (min-width: 1024px) {
  .text-container p {
    font-size: 1.6rem;
  }

}

@media screen and (min-width: 1440px) {
  .text-container p {
    font-size: 2rem;
    
  }

  input[type="text"] {
    padding: 10px 15px;
    height: 60px;
    width: 680px;
    font-size: 2rem;
    margin: 40px 0;
   
  }

  .btn-detect {
    width: 180px;
    font-size: 2.2rem;
    padding: 10px 15px;
    margin: 20px 0;
    height: 80px;
  }

}

@media screen and (min-width: 2560px) {
  .text-container p {
    font-size: 4.5rem;
  }

  input[type="text"] {
    padding: 10px 15px;
    height: 80px;
    width: 680px;
    font-size: 3rem;
    margin: 40px 0;
   
  }

  .btn-detect {
    width: 180px;
    font-size: 2.2rem;
    padding: 20px 30px;
    margin: 40px 0;
    height: 80px;
  }

}

